@using MvcLibraryApp.Models.Entities;
@model List<Book>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a href="/Books/Add">Add Book</a>


<table class="table" style="margin-top:10px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">ReleaseDate</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Id</th>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.ReleaseDate</td>
                <td>
                    <a href="/Books/Delete/@book.Id" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    <a href="/Books/Update/@book.Id" class="btn btn-warning"><i class="bi bi-tools"></i></a>
                <td />
            </tr>
        }

    </tbody>
</table>