@using MvcLibraryApp.ViewModels.Employees;
@model AddEmployeeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Add Employees</h3>
<form asp-controller="Employees" asp-action="Add" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" asp-for="Name">

        <label for="LastName" class="form-label">LastName</label>
        <input type="text" class="form-control" id="LastName" name="LastName" asp-for="LastName">

        <label for="Age" class="form-label">Age</label>
        <input type="datetime" class="form-control" id="Age" name="Age" asp-for="Age">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
