@using MvcLibraryApp.ViewModels.Employees;
@model UpdateEmployeeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Update Employees</h3>
<form asp-controller="Employees" asp-action="Update" method="post">
    <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input type="number" class="form-control" id="Id" name="Id" readonly asp-for="Id" value="@Model.Id">

        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" value="@Model.Name">

        <label for="LastName" class="form-label">LastName</label>
        <input type="text" class="form-control" id="LastName" name="LastName" asp-for="LastName" value="@Model.LastName">

        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" id="Age" name="Age" asp-for="Age" value="@Model.Age">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>